* {
	user-select: none;
}
body{
    color: #666;
}
.hide{
	display: none !important;
}
.show{
	display:block !important;
}
.home{
	background: #666;
	padding-bottom: 14%;
}
.home-body .mm-flg-img img{
	width: 300px;
}
.home-body h1{
	font-size:400% !important;
	color: white;
}
.home-body h2{
	font-size:190% !important;
	color:white;
}
.home-body .hb-content span{
	font-size: 450% !important;
	text-shadow: 3px 1px gray !important;
	margin: 1%;
}

.home-body .mamawawa span{
	font-size: 240%;
	color: yellow;
}

.app-nav_mm,.menu{
	display: none;
}
.app-nav{
		width: 100%;
    background: #666;
    height: 53px;
    padding: 10px;
}
.app-nav a{
    margin:0px 10px;
    color: white;
}
.app-body{
    text-align: center;
    padding: 1% 0% 0% 0%;
}
.app-body .body{
    margin-bottom: 1%;
		background: white;
}
.app-body h1{
    text-align: center;
}
.app-body .content{
    width: 31.3%;
    float: left;
    border: 1px solid gray;
    margin: 0px 1%;
    padding: 1%;
}
.app-body .content h3{
    font-size: 1.5em;
}
.app-body .content h4{
    font-size: 1em;
}
.app-body .showArea{
	border:1px solid gray;
	margin: 0px auto;
	padding: 1% 0px;
	width: 61%;
	height:150px;
	background: #666;
	color: white;
}
.app-body .showPhrase{
	width: 100%;

}
.app-body .showVoice{
	height: 20px;
	width: 100%;
	margin-bottom: 3%;
}
.app-body .showPhrase p{
    font-size: 2em;
    /* text-shadow: 1px 1px gray; */
}
.app-body .showVoice p{
    font-size: 1em;
    /* text-shadow: 1px 1px gray; */
}
.app-body .line{
	height: 20px;
}
.app-body .mm_alphabert{
			width: 58%;
	    margin: 0% auto;
}
.app-body .mm_alphabert span{
    font-size: 300%;
    text-shadow: 1px 2px gray;
		display: block;
		float: left;
		width: 20% ;
		height: 85px;
		border: 1px solid gray;
}
.app-body .mm_alphabert span:last-child{
	color: white;
	border: none;
	text-shadow: none;
}
.app-body .mm_alphabert span:nth-last-child(5){
	border: none;
	color: white;
	text-shadow: none;
}

.yellow,.home-body span:first-child{
    color: yellow;
}
.green,.home-body span:nth-child(2){
    color: green;
}
.white,.home-body span:nth-child(3){
    color: #999;

}
.red,.home-body span:nth-child(4){
    color: red;
}
.blue,.home-body span:nth-child(5){
    color: blue;
}
.sel{
	background-color: black;
}

footer{
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	color: #c7c7c7;
}



/* Mobile Layout */
@media only screen and (max-width: 420px) {

	.home{
		background: #666;
		padding-bottom: 10%;
	}
	.home-body{
		margin:15% 0% 0% 0%;
	}
	.home-body .mm-flg-img img{
		width: 140px;
    margin-top: -20%;
	}
	.home-body h1{
		font-size:240% !important;
		color: white;
	}
	.home-body h2{
		font-size:130% !important;
		color:white;
	}
	.home-body .hb-content span{
		font-size: 450% !important;
		text-shadow: 3px 1px gray !important;
		margin: 1%;
	}

	.home-body .mamawawa span{
		font-size: 150%;
		color: yellow;
	}


	.app-nav{
		display: none;
	}
	.app-nav_mm{
		display: block !important;
			width: 100%;
	    background: #666;
	    height: 53px;
	    padding: 10px;
			color: white;
	}
	.app-nav_mm .menu-icon{
		float:right;
	}
	.app-nav_mm .menu-icon .icon-bar{
		display: block;
		width: 35px;
		height: 3px;
		background: white;
		border-radius: 10%;
		margin: 15% 0px;
		text-shadow: none;
	}


	.app-body{
	    text-align: center;
	    padding: 15% 0% 0% 0%;
	}
	.app-body .body{
			width: 100%;
			padding-bottom: 10%;
			background: white;
	}
	.app-body span{
		text-align: center;
	    font-size: 100%;
	}
	.app-body h1{
		text-align: center;
	    font-size: 130%;
	}
	.app-body .showArea{
		border:1px solid gray;
		margin: 20% 4% 0% 4%;
		width: 92%;
		height:100px;
		background: #666;
		color: white;
	}
	.app-body .line{
		margin-top: 46%;
		height: 2%;
		background: white;
		width: 100%;
	}
	.app-body .showPhrase{
		margin-top: 1%;
		width: 92%;
	}
	.app-body .showVoice{
		width: 92%;
		margin-top: 10%;
	}
	.app-body .showVoice font{
		font-size: 75%;
	}
	.app-body .mm_alphabert{
		width: 100%;
		margin-top: 52%;
		padding: 0px 3%;
	}
	.app-nav_mm,.body,.showArea,.line,.showPhrase,.showVoice{
		position: fixed;
	}

	.app-body .mm_alphabert span{
	    font-size: 250%;
	    margin: 0px 1%;
	    text-shadow: 1px 2px gray;
			display: block;
			float: left;
			width: 18%;
			height: 70px;
			border: 1px solid gray;
	}


	.app-body .showPhrase p{
	    font-size: 1.25em;
	    /* text-shadow: 1px 1px gray; */
	}
	.app-body .showVoice p{
	    font-size: 1em;
	    /* text-shadow: 1px 1px gray; */
	}

	.bottom-area{
		height: 40px;
	  margin-top: 185%;
	}
	.menu{
			position:absolute;
			width: 50%;
			height: 400px;
			background: #f9f9f9;
			top: 0;
			right: 0;
			opacity: 100%;
			color: #666;
		}
		.show{
			display:block !important;
		}
		.menu .off-icon{
			text-align: right;
			padding: 5%;
		}
		.nav_mm{
			text-align: right;
			padding: 5%;
		}
		.nav_mm a{
			display: block;
	    padding: 5% 5px;
	    margin: 5% 0%;
	    background: white;
	    border-radius: 10px;
		}
		.footer{
			display:none;
		}

}
